{% extends 'base.html' %}

{% block title %} Address Book {% endblock title %}

{% block content %}

<h1 class="text-center text-light mt-5 mb-4">Here's Your Address Book!</h1>

    {% for address in current_user.addresses %}

    <input class="form-control mb-2 bg-info fw-bold" type="text" value="{{ address.address }}" aria-label="{{ address.address }}" readonly>
    <a href="{{ url_for('delete_address', post_id=address.id) }}" type="button" class="btn btn-danger mb-2">Delete Address</a>
    <a href="{{ url_for('edit_address', post_id=address.id) }}" type="button" class="btn btn-warning mb-2">Edit Address</a>

    {% endfor %}

    <h1 class="text-center text-light">Click <a href="/add_address">here</a> to add an address!</h1>

{% endblock content %}