{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}

{% if current_user.is_anonymous %}

<h1 class="text-center mt-5 text-light">Would You Like To Create An Address Book?</h1>
<h1 class="text-center mt-5 text-light">Click <a href="/signup">Here</a> To Sign Up!</h1>
<br>
<h1 class="text-center mt-5 text-light">Already a User?</h1>
<h1 class="text-center mt-5 text-light">Click <a href="/login">Here</a> To Log In!</h1>

{% else %}

<h1 class="text-center mt-5 text-light">Welcome To Your Personal Address Book</h1>
<h1 class="text-center mt-5 text-light">Click <a href="/address_book">Here</a> To See It!</h1>

{% endif %}

{% endblock content %}